<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="favicon.ico">
    <title>ERDiag</title>
    <script src="js/libs/jquery-1.12.0/jquery-1.12.0.min.js"></script>
    <script src="js/libs/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="js/libs/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
      <div id="page-container">
      <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
          <div class="panel panel-info" >

            <div class="panel-heading">
              <div class="panel-title">Login</div>
            </div>     
            <div style="padding-top:30px" class="panel-body" >

              <div id="err-container">

                <TMPL_IF NAME="ERR">
                  <div id="error-alert" class="alert alert-danger col-sm-12"><TMPL_VAR NAME=MSG> <b><TMPL_VAR NAME=CODE DEFAULT=></b></div>
                </TMPL_IF>
              </div>
              
              <form id="loginform" class="form-horizontal" role="form" action="" method="POST">
                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username" required>                                        
                </div>
                      
                <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input id="login-password" type="password" class="form-control" name="password" placeholder="password" required>
                </div>

                <div style="margin-top:10px" class="form-group">
                  <div class="col-sm-12 controls">
                    <input type="submit" name="login_btn" class="btn btn-success btn-block" value="Login" />
                  </div>
                </div>
                <input type="hidden" name="view" value="home_page" />
                <input type="hidden" name="action" value="login" />
              </form> 
            </div>                     
          </div>  
        </div>
      </div>
    </div>
  </body>
</html>

   
    
