<form id='crud-form-<TMPL_VAR NAME="TABLE">' class="form-horizontal crud-form" role="form" data-table='<TMPL_VAR NAME="TABLE">'>

<input type="hidden" value='<TMPL_VAR NAME="UNIQUE_IDENTIFIER">' name='unique_identifier' />
<input type="hidden" value='<TMPL_VAR NAME="TABLE">' name='table' />
<input type="hidden" value='crud_table' name='view' />


<TMPL_LOOP NAME="FIELDS_LOOP">

    <TMPL_IF NAME="IS_DATETIME">
    <div class="form-group">
        <label class="control-label col-sm-2" id='crud-label-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' for='crud-textarea-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">'><TMPL_IF NAME="REQUIRED"><span style="color: red;">*</span></TMPL_IF><TMPL_VAR NAME="label">:</label>
        <div class="col-sm-8">
            <input class="form-control input-sm" id='crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' type='text' name='<TMPL_VAR NAME="NAME">' value='<TMPL_VAR NAME="VALUE">' <TMPL_IF NAME="REQUIRED">required</TMPL_IF> />
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">').datetimepicker({
                format : 'DD-MM-YYYY HH:mm',
                sideBySide: true
            });

        });
    </script>
    </TMPL_IF>

    <TMPL_IF NAME="IS_DATE">
    <div class="form-group">
        <label class="control-label col-sm-2" id='crud-label-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' for='crud-textarea-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">'><TMPL_IF NAME="REQUIRED"><span style="color: red;">*</span></TMPL_IF><TMPL_VAR NAME="label">:</label>
        <div class="col-sm-8">
            <input class="form-control input-sm" id='crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' type='text' name='<TMPL_VAR NAME="NAME">' value='<TMPL_VAR NAME="VALUE">' <TMPL_IF NAME="REQUIRED">required</TMPL_IF> />
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">').datetimepicker({
                format : 'DD-MM-YYYY',
                sideBySide: true
            });

        });
    </script>
    </TMPL_IF>

    <TMPL_IF NAME="IS_TIME">
    <div class="form-group">
        <label class="control-label col-sm-2" id='crud-label-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' for='crud-textarea-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">'><TMPL_IF NAME="REQUIRED"><span style="color: red;">*</span></TMPL_IF><TMPL_VAR NAME="label">:</label>
        <div class="col-sm-8">
            <input class="form-control input-sm" id='crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' type='text' name='<TMPL_VAR NAME="NAME">' value='<TMPL_VAR NAME="VALUE">' <TMPL_IF NAME="REQUIRED">required</TMPL_IF> />
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">').datetimepicker({
                format : 'HH:mm:ss',
                sideBySide: true
            });

        });
    </script>
    </TMPL_IF>

    <TMPL_IF NAME="IS_TEXT_INPUT">
    <div class="form-group">
        <label class="control-label col-sm-2" id='crud-label-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' for='crud-textarea-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">'><TMPL_IF NAME="REQUIRED"><span style="color: red;">*</span></TMPL_IF><TMPL_VAR NAME="label">:</label>
        <div class="col-sm-8">
            <input class="form-control input-sm" id='crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' type='text' name='<TMPL_VAR NAME="NAME">' value='<TMPL_VAR NAME="VALUE">' <TMPL_IF NAME="REQUIRED">required</TMPL_IF> />
        </div>
    </div>
    </TMPL_IF>

    <TMPL_IF NAME="IS_TEXTAREA">
    <div class="form-group">
        <label class="control-label col-sm-2" id='crud-label-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' for='crud-textarea-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">'><TMPL_IF NAME="REQUIRED"><span style="color: red;">*</span></TMPL_IF><TMPL_VAR NAME="label">:</label>
        <div class="col-sm-8">
            <textarea class="form-control input-sm" id='crud-textarea-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' type='text' name='<TMPL_VAR NAME="NAME">' <TMPL_IF NAME="REQUIRED">required</TMPL_IF>><TMPL_VAR NAME="VALUE"></textarea>
        </div>
    </div>
    </TMPL_IF>

    <TMPL_IF NAME="IS_NUMBER_INPUT">
    <div class="form-group">
        <label class="control-label col-sm-2" id='crud-label-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' for='crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">'><TMPL_IF NAME="REQUIRED"><span style="color: red;">*</span></TMPL_IF><TMPL_VAR NAME="label">:</label>
        <div class="col-sm-8">
            <input class="form-control input-sm" id='crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' type='number' name='<TMPL_VAR NAME="NAME">'  value='<TMPL_VAR NAME="VALUE">' min='<TMPL_VAR NAME="MIN">' step="any"  max='<TMPL_VAR NAME="MAX">'<TMPL_IF NAME="REQUIRED">required</TMPL_IF>  />
        </div>
    </div>
    </TMPL_IF>


    <TMPL_IF NAME="IS_SELECT">
    <div class="form-group">
        <label class="control-label col-sm-2" id='crud-label-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' for='crud-select-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">'><TMPL_IF NAME="REQUIRED"><span style="color: red;">*</span></TMPL_IF><TMPL_VAR NAME="label">:</label>
        <div class="col-sm-8">
            <select class="form-control input-sm" id='crud-select-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' name='<TMPL_VAR NAME="NAME">' <TMPL_IF NAME="REQUIRED">required</TMPL_IF>>
                <TMPL_IF NAME="REQUIRED">
                <TMPL_ELSE>
                <option value=""></option>
                </TMPL_IF>
                <TMPL_LOOP NAME="SELECT_OPTIONS_LOOP">
                <option value='<TMPL_VAR NAME="VALUE">'><TMPL_VAR NAME="LABEL"></option>
                </TMPL_LOOP>
            </select>
        </div>
    </div>
    </TMPL_IF>

    <TMPL_IF NAME="IS_DATEPICKER">
    <div class="form-group">
        <label class="control-label col-sm-2" id='crud-label-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' for='crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">'><TMPL_IF NAME="REQUIRED"><span style="color: red;">*</span></TMPL_IF><TMPL_VAR NAME="label">:</label>
        <div class="col-sm-8">
            <input class="form-control input-sm" id='crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' type='number' name='<TMPL_VAR NAME="NAME">' min='<TMPL_VAR NAME="MIN">'  max='<TMPL_VAR NAME="MAX">'<TMPL_IF NAME="REQUIRED">required</TMPL_IF> />
        </div>
    </div>
    </TMPL_IF>


    <TMPL_IF NAME="IS_SEARCH">
    <div class="form-group">
        <label class="control-label col-sm-2" id='crud-label-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' for='crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">'><TMPL_IF NAME="REQUIRED"><span style="color: red;">*</span></TMPL_IF><TMPL_VAR NAME="label">:</label>
        <div class="col-sm-8">
            <input class="form-control input-sm" id='crud-input-<TMPL_VAR NAME="TABLE">-<TMPL_VAR NAME="NAME">' type='number' name='<TMPL_VAR NAME="NAME">' min='<TMPL_VAR NAME="MIN">'  max='<TMPL_VAR NAME="MAX">'<TMPL_IF NAME="REQUIRED">required</TMPL_IF> />
        </div>
    </div>
    </TMPL_IF>


</TMPL_LOOP>

<TMPL_IF NAME="IS_CREATE">
    <div class="form-group">
        <div class="col-sm-2 controls">
            <button type="submit" name="submit_btn" class="btn btn-success btn-block" value="">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </div>
    </div>
        <input type="hidden" value='crud_create' name='action' />
</TMPL_IF>

<TMPL_IF NAME="IS_UPDATE">
    <div class="form-group">
        <div class="col-sm-2 controls">
            <button type="submit" name="submit_btn" class="btn btn-primary btn-block" value="">
                <span class="glyphicon glyphicon-pencil"></span> Update
            </button>
        </div>
    </div>
    <input type="hidden" value='crud_update' name='action' />
</TMPL_IF>


</form>