<TMPL_IF NAME="LOAD_CONTAINER">
<div id='crud-container-<TMPL_VAR NAME="TABLE">' class="crud-container">
</TMPL_IF>
    <div id='crud-table-container-<TMPL_VAR NAME="TABLE">'>
        <h3><TMPL_VAR NAME="TABLE_LABEL"></h3>
        <table class="table table-bordered table-striped crud-table" data-table='<TMPL_VAR NAME="TABLE">'>
        <tbody>
            <tr>
                <TMPL_IF NAME="CAN_CREATE_OR_UPDATE_TH">
                    <TMPL_IF NAME="CAN_CREATE_TH">
                    <th class="btnonly-cell">
                        <button type="button" class="btn btn-xs btn-success crud-create-btn">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </th>
                    <TMPL_ELSE>
                    <th class="btnonly-cell"></th>
                    </TMPL_IF>
                </TMPL_IF>

                <TMPL_LOOP NAME="TH_LOOP">
                <th><TMPL_VAR NAME="TH_VALUE"></th>
                </TMPL_LOOP>
                
                <TMPL_IF NAME="CAN_DELETE_TH">
                <th class="btnonly-cell"></th>
                </TMPL_IF>
            </tr>



            <TMPL_LOOP NAME="TR_LOOP">
            <tr data-unique-identifier='<TMPL_VAR NAME="UNIQUE_IDENTIFIER">'>
                <TMPL_IF NAME="CAN_CREATE_OR_UPDATE_TD">
                    <TMPL_IF NAME="CAN_UPDATE_TD">
                    <td class="btnonly-cell">
                        <button type="button" class="btn btn-xs btn-primary crud-update-btn">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                    <TMPL_ELSE>
                    <td class="btnonly-cell"></td>
                    </TMPL_IF>
                </TMPL_IF>


                <TMPL_LOOP NAME="TD_LOOP">
                    <TMPL_IF NAME="ALIGN_RIGHT_TD">
                        <td class="align-right-cell">
                    <TMPL_ELSE>
                        <td>
                    </TMPL_IF>
                    <span <TMPL_IF NAME="IS_FILE">class="crud-td-file" data-filepath="<TMPL_VAR NAME="FILE_PATH">" data-filetype="<TMPL_VAR NAME="FILE_TYPE">"</TMPL_IF> ><TMPL_VAR NAME="TD_VALUE"></span></td>
                </TMPL_LOOP>
                

                <TMPL_IF NAME="CAN_DELETE_TD">
                <td>
                    <button type="button" class="btn btn-xs btn-danger crud-delete-btn">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
                </TMPL_IF>

            </tr>
            </TMPL_LOOP>

        </tbody>

        </table>
    </div>
    <div id='crud-form-container-<TMPL_VAR NAME="TABLE">'></div>
<TMPL_IF NAME="LOAD_CONTAINER">
</div>
</TMPL_IF>